body{
	margin: 0;
	background: #272822;
}
#padd{
	width: 691px;
	height: 80px;
	background: #272822  no-repeat 10px;

	padding:10px 10px 10px 99px;
}
#game-messages{
	color: #A4E402;
	font: normal 14px/1.5 "Courier New";
	overflow: scroll;
	height: 80px;
}
#game-messages p{
	margin:0;
}
#game-messages i{
	width:79px;
	height:80px;
	position:absolute;
	left:0px;
	top:0x;
	overflow: hidden;
	z-index:1;
}
#grats, #welcome, #details{
	background: #272822;
	width: 90%;
	padding:0 5%;
	height: 100%;
	position: absolute;
	top:0px;
	z-index: 2;
	left:0px;
	visibility: hidden;
}
#welcome, #details{
	visibility: visible;
}
#details{
	z-index: 3;
}
#gratsMessage, #welcomeMessage, #detailsMessage{
	color: #A4E402;
	font: normal 25px/1.5 "Courier New";
	text-align: center;
	padding:100px 0 0;
	/*text-transform: lowercase;*/
}
#detailsMessage{
	padding:20px 0 0;
}
#gratsMessage u, #welcomeMessage u, #details u{
	width:250px;
	height:50px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	display: block;
	background:#5ED9F1;
	color: #272822;
	margin:20px auto;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
}
#email{
	width:450px;
	height:50px;
	line-height:50px;
	font-size:24px;
	font-family: "Courier New";
	text-align:center;
	display: block;
	margin:20px auto 0px;
	padding:0;
	border:0;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
}
#gratsMessage u:hover, #welcomeMessage u:hover, #details u:hover{
	color: #FFF;
}
#details u{
	display: inline-block;
	width:220px;
	margin-left:5px;
	margin-right:5px;
	font-size:20px;
}
#details u.active{
	background: #A4E402;
}
.gender-appropriate .m{
	color:#5ED9F1;
}
.switched .m{
	color:#FC1F70;
}
.neutral .m{
	color: #FFF;
}
.gender-appropriate .f{
	color:#FC1F70;
}
.switched .f{
	color:#5ED9F1;
}
.neutral .f{
	color:#FFF;
}
.gender-appropriate .r, .switched .r{
	color:#E6DC67;
}
.neutral .r{
	color:#FFF;
}
.a{
	color:#FFF;
}

.male.gender-appropriate #game-messages i, .male.switched #game-messages i{
	background: #5ED9F1;
}
.male.switched #game-messages i, .female.gender-appropriate #game-messages i{
	background: #FC1F70;
}
.robot #game-messages i{
	background:#E6DC67;
}
.neutral #game-messages i, .androgynous #game-messages i{
	background: #FFF;
}
